@media (max-width: 799;){
	body{
		--bg-bar: gainsboro;
	}
}
@media (min-width: 800;){
	body{
	--bg-bar: darkblue;
	}
}
/* 4:3 mode ↓ */
/* :root{
	border-left: 12.5vw solid black;
	border-right: 12.5vw solid black;
	min-height: 100vh;
} */
body{
	/* Variables */
	--width: 100vw;
	/* Variables */
	margin: 0;
	padding: 0;
	max-width: var(--width);
}

header{
	box-sizing: border-box;
	background-color: var(--bg-bar);
	border: .2rem solid black;
	min-width: var(--width);
	min-height: 8vh;
	top: 0;
}
header h1{
	margin: 1rem 0 0 0;
	text-align: center;
	color: white;
	min-width: 100%;
	min-height: 100%;
	font-size: 400%;
}

main{
	position: relative;
	display: flex;
	margin-top: 3rem;
}
.main-content .container{
padding-left: 30%;
padding-right: 10%;
}
hr{
	min-width: 100%;
	min-height: 1rem;
	border: none;
	background-color: lightblue;
}
.main-content h1{
	text-align: center;
	font-size: 3vw;
}
.main-content p{
	margin:0;
}
.article-show a, .article-show p{
	padding-left: 5%;
	padding-right: 5%;
}
.article-show a{
	text-decoration-line: none;
	text-decoration: none;
	font-size: 160%;
	display: inline-block;
	margin-top: 10px;
}
.article-show a{
	color: black;
}
.article-show a:hover{
	color: blue;
}

footer{
	box-sizing: border-box;
	background-color: var(--bg-bar);
	border: .2rem solid black;
	min-width: var(--width);
	min-height: 12vh;
	position: absolute;
	bottom: 0;
}

/* Classes */

.main-content{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100%;
	max-width: 70%;
}
.article-show{
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0 auto;
	max-width: 30%;
}
.container{
	/* margin: auto; */
	max-width: 60%;
	margin: auto;
}
.paragraph{
	padding: 0;
	margin: 0;
	max-width: 90%;
	margin: 0 auto;
	font-size: 1.3rem;
}